<div class="login-component-main-div">
    <div class="auth-area">
        
        <div class="gap">
        <h1 class="get-started">Get Started With Your Nutrition Journey</h1>
        <p class="login-signup-text">Log in or 
            <span class="sign-up-action" (click)="goToSignUp()">Sign up</span>
        </p>
        </div>

        <div class="utility-input-text"
        placeholder="email"
        type="email"
        (valueChanged)="email = $event"></div>

        <div class="utility-input-text"
        placeholder="password"
        type="password"
        (valueChanged)="password = $event"></div>

        <app-utilty-button
        label ="Log in"
        type="success"
        [disabled]="false"
        [loading]="false"
        (clicked)="submit()"
        >
        </app-utilty-button>

        <div class="or-line">
            <span>Or</span>
          </div>
        
          <div class="social-cont">
          <button class="social-btn facebook">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg" alt="Facebook" />
            Continue With Facebook
          </button>
          
          <button class="social-btn google">
            <img 
            src="https://img.icons8.com/color/48/google-logo.png" 
            alt="Google" 
            width="20" 
            height="20" />
            Continue With Google
          </button>
        </div>
          
        
          <div class="agreement-section">
            <p class="agreement-text">by continuing, you agree to our</p>
            <div class="agreement-links">
              <a href="#">term of service</a>
              <span class="dot">·</span>
              <a href="#">privacy policy</a>
              <span class="dot">·</span>  
              <a href="#">content policies</a>
            </div>
          </div>
          

    </div>
</div>
















<!-- <div class="Login-Component-Main Page-Area">
    <div class="login-panel">
        <div class="login-panel-img">
            <img src="/assets/images/logo/logo.png" alt="">
        </div>
        <div class="login-panel-form-area">
            <div class="login-panel-form">
                <form action="">
                    <div class="login-input-area login-email-input-div mb-3">
                        <label class="form-label" for="">Email</label>
                        <input class="login-email-input form-control" type="text" name="" id=""
                        pattern="/^[a-zA-Z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}\.[a-zA-Z]{2,}(?:\.[a-zA-Z]{2,})?$/gm"
                        required
                        placeholder="Email Adresinizi Yazın*">
                    </div>
                    <div class="login-input-area login-password-input-div password-input-div mb-3">
                        <label class="form-label" for="">Şifre</label>
                        <div class="input-group">
                          <input class="login-password-input form-control" type="password"
                          minlength="8"
                          maxlength="64"
                          required
                          placeholder="Şifrenizi Girin*">
                          <span class="input-group-text" (click)="togglePasswordVisibility()">
                            <i [ngClass]="isPasswordVisible ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
                          </span>
                        </div>
                      </div>
                    <div class="login-input-area login-btn-div">
                        <button class="btn btn-primary login-btn">Giriş Yap</button>
                    </div>
                    <div class="forgot-password-div mt-2">
                        <a class="text-info"
                        routerLink="/register">Şifremi Unuttum</a>
                    </div>
                </form>
            </div>
            <div class="have-account-link-div">
                <a class="have-account-link"
                routerLink="/register">Hesabım Yok (Oluştur)</a>
            </div>
        </div>
    </div>
</div> -->